name: FluidPlan CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: dotnet info
      run: dotnet --info

    - name: Restore dependencies
      run: dotnet restore FluidPlan.sln

    - name: Build
      run: dotnet build FluidPlan.sln --no-restore --configuration Release
